# 네이버 개발자 센터 (https://developers.naver.com)
NAVER_CLIENT_ID=발급받은_클라이언트_아이디
NAVER_CLIENT_SECRET=발급받은_클라이언트_시크릿

# Google Sheets
GOOGLE_SERVICE_ACCOUNT_JSON=credentials/service_account.json
SPREADSHEET_ID=구글시트_URL에서_복사한_ID
